.contenedor-blanco {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}
#btn_volver {
    margin-top: 3rem;
    border-radius: 34px;
    padding: 12px;
    padding-inline: 31px;
    font-size: 22px;
    background-color: #83bf83;
    color: #fefef8;
}