.medio{
    display: flex;
    position: relative;
    @media (min-width:768px) {
        top: 20%;
    }
    justify-content: center;
}
.material-symbols-outlined{
    color: rgb(2, 69, 2);
}

.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: relative;
    align-items: flex-start;
}

#user,#carrito,#map{
    font-size: 40px;
}
#login{
    font-size: small;
    display: flex;
    position: relative;
    top: 10px;
}
#logindiv, #welcomediv{
    border: 1px solid black;
    border-radius: 10px;
    height: fit-content;
}
.logeado{
    height: fit-content;
    position: relative;
    left: -7px;
    top: 0px;
}
.no-logeado{
    height: fit-content;
    position: relative;
    left: 6px;
    top: 0px;
}
#iconos{
    @media (min-width:768px) {
        display: grid;
        grid-auto-rows: 4rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 15px;
    }  
}
#lupa{
    font-size: 50px;
    color: white;
    border-radius: 100px;
    background-color: rgba(0, 128, 0, 0.8);
}
#btn-lupa{
    position: relative;
    top: -10px;
}
button{
    border: none;
    background-color: transparent;
}
#logo{
    @media (max-width:768px) {
        display: flex;
        position: relative;
        justify-content: center;
    }
}
img{
    max-height: 15vh;
}

.dropdown-menu{
    margin-top: 0;
}