<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3">
            <div id="logo">
                <img src="../../assets/LOGOTIPO SUBASTER.jpeg">
            </div>
        </div>
        <div class="col-12 col-md-4" >
            <form class="d-flex medio" id="search-bar" >
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button id="btn-lupa" class="btn">
                    <span id="lupa" class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </form>
        </div>
        <div class="col-12 col-md-5">
            <div class="row w-75" id="iconos">
                <div  class="dropdown col-6 mb-4"> 
                    <button class="dropdown-toggle" (mouseover)="isCollapsed = false" 
                    (mouseleave)="mouseleave()" routerLink="/login" id="logindiv" class="d-flex ">
                        <span id="user" class="material-symbols-outlined">
                            person
                        </span>
                        <p id="login" >Iniciar Sesion</p>
                    </button>
                    <div (mouseover)="isCollapsed2 = false" (mouseleave)="mouseleave2()" [ngbCollapse]="isCollapsed" class="dropdown-menu" aria-labelledby="dropdowncategoria">
                        <button class="dropdown-item" [routerLink]="'registro'">Registrarse</button>
                    </div>
                </div>
                <div class="col-3 mb-2">
                    <button>
                        <span id="carrito" class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </button>
                </div>
                <div class="col-3 mb-2">
                    <button>
                        <span id="map" class="material-symbols-outlined">
                            pin_drop
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>