$verde-claro: #85c285;
$verde-oscuro: rgba(0, 128, 0, 0.477);

a, a:visited{
    color:black;
}

#navbar{
    background-color: $verde-oscuro;
    min-height: 10vh;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    z-index: 2;
}
#dropcat,#dropven{
    background-color: $verde-claro;
    border: 1px black solid;
}
#dropcat > div > li > a:hover, a:visited {
    background-image: none;
    background-color: $verde-oscuro;
}