#navbar{
    background-color: rgba(0, 128, 0, 0.477);
    min-height: 10vh;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}
#dropcat,#dropven{
    background-color: rgb(0, 128, 0);
}