$verde-claro: #85c285;
$verde-oscuro: rgba(0, 128, 0, 0.477);
$color-letra-navbar: rgb(255, 255, 255);

ul{
    align-items: center;
}
#menucolapsado::-ms-expand{
    border-color: red;
}
#navbar{
    background-color: $verde-claro;
    min-height: 11vh;
}
.nav-item a{
    font-size: larger;
    color: $color-letra-navbar;
    background-color: $verde-claro;
}

.nav-item a:hover{
    //font-size: x-large;
    color: rgb(0, 157, 26);
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    z-index: 2;
}
#dropcat,#dropven{
    background-color: $verde-claro;
    border: 1px black solid;
}
#dropcat > div > li > a:hover, a:visited {
    background-image: none;
    background-color: $verde-oscuro;
}
