<div class="container mt-5">
    <form class="row d-flex justify-content-center">
        <div class="col-12 mb-5">
            <h2 class="d-flex justify-content-center">INICIO DE SESIÓN</h2>
        </div>
        <div class="form-group col-md-6 mx-md-2 mb-5">
            <label class="d-flex justify-content-center" for="exampleInputEmail1">CORREO ELECTRÓNICO:</label>
            <input type="email" class="form-control form-control-lg" id="correo" placeholder="correoejemplo@empresa.cl">
          </div>
        <div class="form-group col-md-6 mx-md-2 mb-3">
            <label class="d-flex justify-content-center" for="exampleInputPassword1">CONTRASEÑA:</label>
            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="col-12 mb-4">
            <a class="d-flex justify-content-center">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="col-12 d-flex justify-content-center mb-5">
            <button class="btn btn-lg me-5">Iniciar Sesión</button>
            <button class="btn btn-lg">Registrarse</button>
        </div>
    </form>
</div>