$breakpoint: 900px;

p {
    margin-bottom: 0;
}
.negro{
    color: black;
}
.gris{
    color:grey;
}
.azul{
    color:cornflowerblue;
}
.negrita{
    font-weight: 700;
}
.fuente-lista{
    font-size: x-large;
}
.contenedor-header{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
}
.img-principal{
    width: 100%;
}
.img-secundaria{
    @media (max-width: $breakpoint){
        width: 100%
    }
    @media (min-width: $breakpoint){
        width: 20%;
    }
}
.contenedor-imgs{
    display: flex;
    grid-gap: 1rem;
    grid-gap: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 50rem;
    height: 20rem;
}
.contenedor-img-prin{
    width: 100%;
    max-height: 22rem;
}
.contenedor-img-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    //grid-template-columns: 1fr 1fr 1fr;
    //esto es para que cambie de modo vertical a horizontal al momento de pasar hacia abajo
    @media (min-width: $breakpoint) {
        flex-direction: column;
    }
    @media (max-width: $breakpoint) {
        flex-direction: row;
    }
}
.contenedor-titulos{
    text-align: center;
}
h1#txt-titulo{
    text-transform: uppercase;
}
#contenedor-valor{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    font-size: 30px;
}
#contenedor-fecha{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 20px;
}
#contenedor-pujar{
    font-size: 20px;
}
#botonPujar{
    background-color: rgba(6, 255, 6, 0.367);
    border-radius: 100px;
    padding-inline: 40px;
} 

.contenedor-detalles{
    margin-inline: 6px;
}
.contenedor-comentarios{
    margin-top: 50px;
}
.contenedor-comentarios .comentario{
    display:flex;
    margin-bottom: 2rem;
    gap: 1rem;
}
.contenedor-comentarios .cuerpo{
    margin-top: 10px;
}
#modal{
    margin-left: 25%;
    z-index: 100;
}
.imagenContainer{
    background: none;
    border: none;
    cursor: pointer;
}
.blur{
    filter: blur(10px);
}
