<div class="container-xxl my-5">
    <div class="contenedor-header">
        <div class="contenedor-imgs">
            <div class="contenedor-img-prin">
                <img src="../../assets/materiales.jpg" alt="Imagen Publicación" class="img-principal">
            </div>
            <div class="contenedor-img-sec">
                <img src="../../assets/materiales.jpg" alt="Imagen Publicación" class="img-secundaria">
                <img src="../../assets/materiales.jpg" alt="Imagen Publicación" class="img-secundaria">
                <img src="../../assets/materiales.jpg" alt="Imagen Publicación" class="img-secundaria">
            </div>
        </div>
        <div class="contenedor-titulos">
            <h1 id="txt-titulo" class="negro">{{publication.tittle}}</h1>
            <div id="contenedor-valor">
                <p class="gris" id="txt-valor">VALOR ACTUAL: </p>
                <p class="azul" id="txt-moneda">CLP$</p>
                <p class="azul" id="valor">{{publication.price}}</p>
            </div>
            <div class="negro" class="negrita" id="contenedor-fecha">
                <p id="txt-cierra">Fecha Término</p>
                <p id="fecha-fin">{{publication.date_e}}</p>
            </div>
            <div class="negro" class="negrita" id="contenedor-pujar">
                <p id="txt-cierra">Cierra en 13 días</p>
                <button class="btn btn-lg my-3" type="button" id="botonPujar">Pujar</button>
            </div>
        </div>
    </div>
    <div class="contenedor-detalles my-2">
        <p class="negro negrita">Publicado el {{publication.date_i}}</p>
        <h3 class="gris mt-4">Descripción:</h3>
        <ul>
            <li class="gris fuente-lista">Marca: {{publication.brand}}</li>
            <li class="gris fuente-lista">Modelo: {{publication.model}}</li>
            <li class="gris fuente-lista">Largo: {{publication.lenght}}</li>
            <li class="gris fuente-lista">Diametro: {{publication.diameter}}</li>
            <li class="gris fuente-lista">Material: {{publication.material}}</li>
            <li class="gris fuente-lista">Peso: {{publication.weight}}</li>
            <li class="gris fuente-lista">Origen: {{publication.source}}</li>
        </ul>
        <h3 class="gris mt-4">Observaciones:</h3>
        <ul>
            <li class="gris fuente-lista">{{publication.observations}}</li>
        </ul>
    </div>
</div>