$breakpoint: 900px;

p {
    margin-bottom: 0;
}
.negro{
    color: black;
}
.gris{
    color:grey;
}
.azul{
    color:cornflowerblue;
}
.negrita{
    font-weight: 700;
}
.fuente-lista{
    font-size: x-large;
}
.contenedor-header{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
}
.img-principal{
    width: 100%;
    height: 100%;
}
.img-secundaria{
    width: 200px;
    height: 150px;
}
.contenedor-imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.contenedor-img-prin{
    //esto es para que la imagen no crezca mucho
    @media (max-width: $breakpoint){
        width: 100%
    }
}
.contenedor-img-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    //grid-template-columns: 1fr 1fr 1fr;
    //esto es para que cambie de modo vertical a horizontal al momento de pasar hacia abajo
    @media (min-width: $breakpoint) {
        flex-direction: column;
    }
    @media (max-width: $breakpoint) {
        flex-direction: row;
    }
}
.contenedor-titulos{
    text-align: center;
}
h1#txt-titulo{
    font-size: 50px;
    text-transform: uppercase;
}
#contenedor-valor{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    font-size: 30px;
}
#contenedor-fecha{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 20px;
}
#contenedor-pujar{
    font-size: 20px;
}
#botonPujar{
    background-color: rgba(6, 255, 6, 0.367);
    border-radius: 100px;
    padding-inline: 40px;
}
.contenedor-detalles{
    margin-inline: 6px;
}