.rojo{
    color: red;
}
.negro{
    color: black;
}
.gris{
    color:grey;
}
.azul{
    color:cornflowerblue;
}

#botonPujar{
    background-color: rgba(6, 255, 6, 0.367);
    border-radius: 100px;
    padding-inline: 40px;
} 