$color-borde: rgba(0, 0, 0, 0.385);


a#categoryItem, a#categoryItem:hover{
  text-decoration:none;
  color: black;
}

span {
  text-rendering: auto;
}

a#categoryItem:hover {
  color: rgba(0, 0, 0, 0.385);
}

label#categoryItem{
  padding-left: 1rem;
}

input#categoryItem{
  border-radius: 15px;
}
