<div class="container">
    <form class="row" [formGroup]="changepass">
        <h3 class="d-flex justify-content-center"> Cambiar Contraseña</h3>
        <div class="col-12 d-flex justify-content-center ">
            <div class="form-group w-75">
                <label class="d-flex justify-content-start">Contraseña Actual</label>
                <input type="password" class="form-control" id="actual" placeholder="Ingrese Contraseña Actual" formControlName="actual">
                <div class="d-flex justify-content-center error" *ngIf="changepass.controls['actual'].errors && (changepass.controls['actual'].dirty || changepass.controls['actual'].touched)">
                    <p *ngIf="changepass.controls['actual'].hasError('required')">*Campo requerido</p>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="form-group w-75">
                <label class="d-flex justify-content-start">Nueva Contraseña</label>
                <input type="password" class="form-control" id="nueva" placeholder="Ingrese Nueva Contraseña" formControlName="nueva">
                <div class="d-flex justify-content-center error" *ngIf="changepass.controls['nueva'].errors && (changepass.controls['nueva'].dirty || changepass.controls['nueva'].touched)">
                    <p *ngIf="changepass.controls['nueva'].hasError('required')">*Campo requerido</p>
                </div>
            </div>
            
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="form-group w-75">
                <label >Repita Nueva Contraseña</label>
                <input type="password" class="form-control" id="repita" placeholder="Repita Nueva Contraseña" formControlName="repite">
                <p  id="nomatch">*Las contraseñas no coinciden</p>
            </div>
        </div>
        <div class=" d-flex justify-content-center col-12">
            <button [disabled]="changepass.invalid || matchPass" type="submit" class="btn btn-lg">Modificar</button>
        </div>
    </form>
</div>