  <div [formGroup]="profileInformation">
    <div class="row mb-2">
      <div class="col">
        <div class="card-body py-2">
          <div class="row align-items-center">
            <div class="col md-6 p-0" >
              <div class="row justify-content-center align-items-center">
                <div class="col-auto p-0">
                  <ng-container>
                    <img src="../../assets/LOGOTIPO-PUERTO-VENTANA.png" width="300px" height="300px">
                  </ng-container>
                </div>
                <div class="col-auto p-0 text-center" id="cameraSvg">
                  <label for="file-upload" class="custom-file-upload">
                    <img src="../../assets/camera.png" width="25px" height="25px">
                  </label>
                  <input type="file" id="file-upload" accept="image/png, image/jpg, image/jpeg">
                </div>
              </div>
            </div>

            <div class="col-md-6 px-0 py-4">
              <div class="row">
                <div class="col-md-8 p-0 text-left">
                  <label class="m-0 pb-1 form-label" for="name">Nombres</label>
                  <div class="d-flex  ">
                    <input class="w-100 px-4 py-2 form-control" type="text" id="nombre" placeholder="Nombre" value="{{usuario.nombre}}" formControlName="nombre">
                    <button (click)="editar('nombre')" *ngIf="editando.includes('nombre') == false" class="edit"><span class="material-symbols-outlined edit_button">
                      edit
                    </span></button>
                    <button (click)="removeEdit('nombre')" *ngIf="editando.includes('nombre') == true" class="edit"><span class="material-symbols-outlined edit_button">
                      cancel
                    </span></button>
                  </div>
                </div>
                <div class="error" *ngIf="profileInformation.controls['nombre'].errors && (profileInformation.controls['nombre'].dirty || profileInformation.controls['nombre'].touched)">
                  <p *ngIf="profileInformation.controls['nombre'].hasError('required')">*Campo requerido</p>
                  <p *ngIf="profileInformation.controls['nombre'].hasError('minlength')">*Debe contener mínimo 10 caracteres</p>
                  <p *ngIf="profileInformation.controls['nombre'].hasError('maxLength')">*Debe contener Máximo 50 caracteres</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 p-0 text-left">
                  <label class="m-0 pb-1 py-2 form-label" for="name">Apellidos</label>
                  <div class="d-flex ">
                    <input class="w-100 px-4 py-2 form-control" type="text" id="apellidos" placeholder="Apellidos" value="{{usuario.apellidos}}" formControlName="apellidos">
                    <button (click)="editar('apellidos')" *ngIf="editando.includes('apellidos') == false" class="edit"><span class="material-symbols-outlined edit_button">
                      edit
                    </span></button>
                    <button (click)="removeEdit('apellidos')" *ngIf="editando.includes('apellidos') == true" class="edit"><span class="material-symbols-outlined edit_button">
                      cancel
                    </span></button>
                  </div>
                </div>
                <div class="error" *ngIf="profileInformation.controls['apellidos'].errors && (profileInformation.controls['apellidos'].dirty || profileInformation.controls['apellidos'].touched)">
                  <p *ngIf="profileInformation.controls['apellidos'].hasError('required')">*Campo requerido</p>
                  <p *ngIf="profileInformation.controls['apellidos'].hasError('minlength')">*Debe contener mínimo 10 caracteres</p>
                  <p *ngIf="profileInformation.controls['apellidos'].hasError('maxlength')">*Debe contener Máximo 50 caracteres</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 p-0 text-left">
                  <label class="m-0 pb-1 py-2  form-label" for="name">Correo Electrónico</label>
                  <div class="d-flex ">
                    <input class="w-100 px-4 py-2 form-control" type="text" id="correo" placeholder="Correo" value="{{usuario.correo}}" formControlName="correo">
                    <button (click)="editar('correo')" *ngIf="editando.includes('correo') == false" class="edit"><span class="material-symbols-outlined edit_button">
                      edit
                    </span></button>
                    <button (click)="removeEdit('correo')" *ngIf="editando.includes('correo') == true" class="edit"><span class="material-symbols-outlined edit_button">
                      cancel
                    </span></button>
                  </div>
                </div>
                <div class="error" *ngIf="profileInformation.controls['correo'].errors && (profileInformation.controls['correo'].dirty || profileInformation.controls['correo'].touched)">
                  <p *ngIf="profileInformation.controls['correo'].hasError('required')">*Campo requerido</p>
                  <p *ngIf="profileInformation.controls['correo'].hasError('email')">*Ingresar un correo válido</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 p-0 text-left">
                  <label class="m-0 pb-1 py-2  form-label" for="name">Dirección</label>
                  <div class="d-flex ">
                    <input class="w-100 px-4 py-2 form-control" type="text" id="direccion.direccion" placeholder="Dirección" value="{{usuario.direccion.direccion}}" formControlName="direccion">
                    <button (click)="editar('direccion.direccion')" *ngIf="editando.includes('direccion.direccion') == false" class="edit"><span class="material-symbols-outlined edit_button">
                      edit
                    </span></button>
                    <button (click)="removeEdit('direccion.direccion')" *ngIf="editando.includes('direccion.direccion') == true" class="edit"><span class="material-symbols-outlined edit_button">
                      cancel
                    </span></button>
                  </div>
                </div>
                <div class="error" *ngIf="profileInformation.controls['direccion'].errors && (profileInformation.controls['direccion'].dirty || profileInformation.controls['direccion'].touched)">
                  <p *ngIf="profileInformation.controls['direccion'].hasError('required')">*Campo requerido</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 p-0 text-left">
                  <label class="m-0 pb-1 py-2  form-label" for="name">Celular</label>
                  <div class="d-flex">
                    <input class="w-100 px-4 py-2 form-control" type="text" id="celular" placeholder="+569XXXXXXXX" value="{{usuario.celular}}" formControlName="celular">
                    <button (click)="editar('celular')" *ngIf="editando.includes('celular') == false" class="edit"><span class="material-symbols-outlined edit_button">
                      edit
                    </span></button>
                    <button (click)="removeEdit('celular')" *ngIf="editando.includes('celular') == true" class="edit"><span class="material-symbols-outlined edit_button">
                      cancel
                    </span></button>
                  </div>
                </div>
                <div class="error" *ngIf="profileInformation.controls['celular'].errors && (profileInformation.controls['celular'].dirty || profileInformation.controls['celular'].touched)">
                  <p *ngIf="profileInformation.controls['celular'].hasError('required')">*Campo requerido</p>
                  <p *ngIf="profileInformation.controls['celular'].hasError('pattern')">*El campo debe contener 9 caracteres numericos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="editando.length > 0" class="contenedor-botones pb-4">
      <button [disabled]="profileInformation.invalid" class="px-2 mx-2" id="enviarFormulario" type="submit">
        <span id="texto-boton">Guardar</span>
      </button>
    </div>
  </div>
