<div class="container my-5">
    <form class="row" id="formulario"[formGroup]="publicacionForm" (ngSubmit)="waitUpload()">
        <div class="col-12 col-md-8">
            <input type="file" class="form-control-file" id="media" (change)="cargarImagen($event)" accept=".jpg,.jpeg,.png,.mp4, MKV" multiple  formControlName="media">
            <div class="error" *ngIf="publicacionForm.controls['media'].errors && (publicacionForm.controls['media'].dirty || publicacionForm.controls['media'].touched)">
                <p *ngIf="publicacionForm.controls['media'].hasError('required')">*Campo requerido</p>
            </div>
        </div>
        <div class="col-12  mt-5" >
            <h5>Imagenes</h5>
            <div id="imagenes">
                <button class="button_img" *ngFor="let url of media, let i = index" [attr.data-index]="i" (click)="deletemedia(i)">
                    <img *ngIf="'image' == this.url.split('/')[0].split(':')[1]" class="preview mx-2" src="{{url}}">
                </button>
            </div>
        </div>
        <div class="col-12 mt-5">
            <h5>Videos</h5>
            <div id="videos">
                <button class="button_img" *ngFor="let url of media, let i = index" [attr.data-index]="i" (click)="deletemedia(i)">
                    <br/><video *ngIf="'video' == this.url.split('/')[0].split(':')[1]" class="mx-2" src="{{url}}" height="200"></video><br/>
                </button>
            </div>

        </div>
        <div class="col-12 col-md-8 mt-5">
            <div class="form-group">
                <h4 >Nombre del Articulo</h4>
                <input type="text" id="nombre" class="form-control" placeholder="Ladrillos"  formControlName="nombre">
            </div>
            <div class="error" *ngIf="publicacionForm.controls['nombre'].errors && (publicacionForm.controls['nombre'].dirty || publicacionForm.controls['nombre'].touched)">
                <p *ngIf="publicacionForm.controls['nombre'].hasError('required')">*Campo requerido</p>
            </div>
        </div>
        <div class="col-12 col-md-8 mt-2">
            <div class="form-group">
                <h4 >Descripcion del Articulo</h4>
                <textarea type="text" id="descripcion" class="form-control" placeholder="Descripcion del Articulo"  formControlName="descripcion"></textarea >
            </div>
            <div class="error" *ngIf="publicacionForm.controls['descripcion'].errors && (publicacionForm.controls['descripcion'].dirty || publicacionForm.controls['descripcion'].touched)">
                <p *ngIf="publicacionForm.controls['descripcion'].hasError('required')">*Campo requerido</p>
                <p *ngIf="publicacionForm.controls['descripcion'].hasError('maxlength')">*Campo no puede sobrepasar los 150 caracteres.</p>
                <p *ngIf="publicacionForm.controls['descripcion'].hasError('maxlength')">*Campo no puede sobrepasar los 150 caracteres.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 col-md-8 mt-2">
                    <div class="form-group">
                        <h4 >Cantidad de Articulo</h4>
                        <input type="number" min="0" id="cantidad" class="form-control" placeholder="Ej: 1"  formControlName="cantidad">
                    </div>
                    <div class="error" *ngIf="publicacionForm.controls['cantidad'].errors && (publicacionForm.controls['cantidad'].dirty || publicacionForm.controls['cantidad'].touched)">
                        <p *ngIf="publicacionForm.controls['cantidad'].hasError('required')">*Campo requerido</p>
                        <p *ngIf="publicacionForm.controls['cantidad'].hasError('min')">*El minimo valor es 1</p>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <h4>Categoria</h4>
                    <select   class="form-select " id="dropdowncategoria" aria-label="categoria"  formControlName="categoria">
                        <option *ngFor="let category of lista_Cat" value="{{category.id}}" >{{category.categoria}}</option>
                    </select>
                    <div class="error" *ngIf="publicacionForm.controls['categoria'].errors && (publicacionForm.controls['categoria'].dirty || publicacionForm.controls['categoria'].touched)">
                        <p *ngIf="publicacionForm.controls['categoria'].hasError('required')">*Campo requerido</p>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h4>Estado</h4>
                    <select  class="form-select " id="dropdownestado" aria-label="estado"  formControlName="estado">
                        <option  *ngFor="let state of lista_Est" value="{{state.id}}">{{state.estadoproducto}}</option>
                    </select>
                    <div class="error" *ngIf="publicacionForm.controls['estado'].errors && (publicacionForm.controls['estado'].dirty || publicacionForm.controls['estado'].touched)">
                        <p *ngIf="publicacionForm.controls['estado'].hasError('required')">*Campo requerido</p>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h4>Unidad</h4>
                    <select  class="form-select " id="dropdownunidad" aria-label="unidad"  formControlName="unidad">
                        <option *ngFor="let unit of lista_Unit" value="{{unit.id}}">{{unit.unidad}}</option>
                    </select>
                    <div class="error" *ngIf="publicacionForm.controls['unidad'].errors && (publicacionForm.controls['unidad'].dirty || publicacionForm.controls['unidad'].touched)">
                        <p *ngIf="publicacionForm.controls['unidad'].hasError('required')">*Campo requerido</p>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="form-group">
                        <h4 >Precio del Articulo ($CLP)</h4>
                        <input type="number" min="0" id="precio" class="form-control" placeholder="Ej: 200000"  formControlName="precio">
                    </div>
                    <div class="error" *ngIf="publicacionForm.controls['precio'].errors && (publicacionForm.controls['precio'].dirty || publicacionForm.controls['precio'].touched)">
                        <p *ngIf="publicacionForm.controls['precio'].hasError('required')">*Campo requerido</p>
                        <p *ngIf="publicacionForm.controls['precio'].hasError('min')">*El minimo valor es 1</p>
                    </div>
                </div>
                <div  class="col-12 mt-5">
                    <button id="upload-grande" type="submit"  [disabled]="publicacionForm.invalid" class="btn btn-lg upload">Subir Publicacion</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="row">
                <h4 >Direccion de Venta del Articulo</h4>
                <div class="col-12 mb-2">
                    <label>Region</label>
                    <select (change)="buscar_ciudad($event)" class="form-select " name="region" id="region" formControlName="region">
                        <option *ngFor="let r of regiones" value="{{r.region}}"> {{r.region}}</option>
                    </select>
                    <div class="error" *ngIf="publicacionForm.controls['region'].errors && (publicacionForm.controls['region'].dirty || publicacionForm.controls['region'].touched)">
                        <p *ngIf="publicacionForm.controls['region'].hasError('required')">*Campo requerido</p>
                    </div>
                </div>
                <div class="col-12">
                    <label>Comuna</label>
                    <select (change)="enable($event)" class="form-select" name="comuna" id="comuna" formControlName="comuna">
                    </select>
                    <div class="error" *ngIf="publicacionForm.controls['comuna'].errors && (publicacionForm.controls['comuna'].dirty || publicacionForm.controls['comuna'].touched)">
                        <p *ngIf="publicacionForm.controls['comuna'].hasError('required')">*Campo requerido</p>
                        <p *ngIf="publicacionForm.controls['comuna'].hasError('nullValidator')">*Campo requerido</p>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="form-group">
                        <label>Ingrese su direccion:</label>
                        <input type="text" class="form-control" id="direccion" (change)="direccionShow($event)"  formControlName="direccion" >
                        <div class="error" *ngIf="publicacionForm.controls['direccion'].errors && (publicacionForm.controls['direccion'].dirty || publicacionForm.controls['direccion'].touched)">
                            <p *ngIf="publicacionForm.controls['direccion'].hasError('required')">*Campo requerido</p>
                            <p *ngIf="publicacionForm.controls['direccion'].hasError('maxlength')">*La direccion no puede pasar los 50 caracteres.</p>
                        </div>
                    </div>
                    <div id="google" style="min-height:400px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
            <button id="upload-pequeño" type="submit" [disabled]="publicacionForm.invalid" class="btn btn-lg upload">Subir Publicacion</button>
        </div>
    </form>
    <div class="row">
        <div id="cargando" class="col-12">
            <h1>Subiendo Publicacion</h1>
        </div>
        <div id="subido" class="col-12">
            <h1>Publicacion Subida</h1>
        </div>
    </div>
</div>
