<div class="container my-5">
    <div *ngIf="cargando" class="row">
        <h3>Cargando Compra</h3>
    </div>
    <div *ngIf="subido" class="row">
        <h3>Compra Exitosa</h3>
    </div>
    <div *ngIf="login" class="row ">
        <h3 class="d-flex justify-content-center red">Para continuar la compra es necesario que inicie sesion</h3>
    </div>
    <div *ngIf="info" class="row">
        <div class="col-md-8">
            <h1 class="mb-5">Carrito de Compras</h1>
            <div class="row productos p-2 contenedor-blanco">
                <ng-container *ngIf="this.preview.length == 0">
                    <div style="text-align: center; padding-top: 20px">
                        ¿Aún no has añadido nada a tu carrito?
                        <a [routerLink]="['/home']">Haz click aqui !</a>
                        <img src="../../assets/img_emptyCart.jpg" alt="Carrito vacio :(" height="300px">
                    </div>
                </ng-container>
                <div *ngFor="let product of preview" class="col-12 my-1 d-flex tarjeta">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn red" type="button" (click)="eliminarCarrito(product.id)">
                                <span class="material-symbols-outlined">
                                    cancel
                                </span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <img src="{{product.url[0]}}" style="width:100%;" class="me-5">
                        </div>
                        <div class="col-md-5 my-md-5">
                            <p>{{product.nombre}}</p>
                            <p>{{product.direccion.direccion}},{{product.direccion.comuna}},{{product.direccion.region}}</p>
                        </div>
                        <div class="col-md-3 my-md-5">
                            <p class="bold">VALOR ACTUAL: </p>
                            <div class="d-flex">
                                <p class="bold green">CLP$ </p>
                                <p class="bold green">{{product.precio}}</p>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
        <ng-container *ngIf="this.preview.length > 0">
            <form class="col-md-4 my-md-5">
                <h3>Resumen de Compra</h3>
                <div class="contenedor-blanco productos">
                    <div class="mt-5">
                        <div class="row" *ngFor="let product of preview; let i = index" [attr.data-index]="i">
                            <div class="contenedor-detalle">
                                <div class="col-12">
                                    <p>{{product.nombre}}</p>
                                </div>
                                <div class="col-12 d-flex" style="margin-top: -15px;">
                                    <p class="me-5">Precio: </p>
                                    <p class="bold green">CLP$ {{product.precio}}</p>
                                </div>
                                <div class="col-12 d-flex" style="margin-top: -15px;">
                                    <p class="me-5">Cantidad: </p>
                                    <input (change)="changeQ(product.id, $event)" type="number" class="form-control form-control-sm" min="1" max="{{product.cantidad}}"  style="width:40px;" value="{{cantidades[i]}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5 mx-2">
                        <div *ngIf="total >0 "class="d-flex">
                            <p class="me-5">Total a Pagar: </p>
                            <p class="bold green">CLP$ </p>
                            <p class="bold green">{{total}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center my-5">
                        <button class="btn btn-lg" type="button" (click)="finalizarCompra()" [disabled]="!comprar">Finalizar Compra</button>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
</div>