<div class="container my-5">
    <div *ngIf="cargando" class="row">
        <h3>Cargando Compra</h3>
    </div>
    <div *ngIf="subido" class="row">
        <h3>Compra Exitosa</h3>
    </div>
    <div *ngIf="login" class="row ">
        <h3 class="d-flex justify-content-center red">Para continuar la compra es necesario que inicie sesion</h3>
    </div>
    <div *ngIf="info" class="row">
        <div class="col-md-8">
            <h1 class="mb-5">Carrito de Compras</h1>
            <div class="row productos p-2">
                <div *ngFor="let product of preview" class="col-12 my-1 d-flex tarjeta">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn red" type="button" (click)="eliminarCarrito(product.id)">
                                <span class="material-symbols-outlined">
                                    cancel
                                </span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <img src="{{product.url[0]}}" style="width:100%;" class="me-5">
                        </div>
                        <div class="col-md-5 my-md-5">
                            <p>{{product.nombre}}</p>
                            <p>{{product.direccion.direccion}},{{product.direccion.comuna}},{{product.direccion.region}}</p>
                        </div>
                        <div class="col-md-3 my-md-5">
                            <p class="bold">VALOR ACTUAL: </p>
                            <div class="d-flex">
                                <p class="bold green">CLP$ </p>
                                <p class="bold green">{{product.precio}}</p>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
        <div class="col-md-4 my-md-5">
            <h3>Resumen de Compra</h3>
            <div class="productos p-1">
                <div class="row my-5" *ngFor="let product of preview" >
                    <div class="col-12">
                        <p>{{product.nombre}}</p>
                    </div>
                    <div class="col-12 d-flex">
                        <p class="me-5">Precio: </p>
                        <p class="bold green">CLP$ </p>
                        <p class="bold green">{{product.precio}}</p>
                    </div>
                </div>
                <div class="row  my-5">
                    <div class="d-flex">
                        <p class="me-5">Total a Pagar: </p>
                        <p class="bold green">CLP$ </p>
                        <p class="bold green">{{total}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center my-5">
                    <button class="btn btn-lg" type="button" (click)="finalizarCompra()" [disabled]="!comprar">Finalizar Compra</button>
                </div>
            </div>
        </div>
    </div>
</div>