.bold{
    font-weight:600;
}
.green{
    color: green;
}
.red{
    color: red;
}
.tarjeta{
    border: 1px dotted black;
}
.productos{
    width: 100%;
    min-height: fit-content;
    border: 1px solid black;;
}
.btn-lg{
    border-radius: 50px;
    background-color: rgba(91, 164, 91, 0.729);
}