<div class="container py-5 grid">
    <div class="tarjeta ">
        <img src="../../assets/us1.jpg" alt="Nosotros Imagen" width="300px" height="300px">
        <div class="texto-container">
            <p class="texto-titulo">MISIÓN</p>
            <p>Contribuir a un mundo más sustentable, a través de nuestra plataforma de gestión y subasta de residuos y mermas conectando a los actores interesados en dar un segundo uso a estos materiales, incentivando la economía circular en las empresas chilenas.</p>
        </div> 
    </div>
    <div class="tarjeta">
        <div class="texto-container">
            <p class="texto-titulo">VISIÓN</p>
            <p>Ser la plataforma líder en 2025 en subasta de mermas y reciclaje de residuos a nivel nacional.</p>
        </div>
        <img src="../../assets/us1.jpg" alt="Nosotros Imagen" width="300px" height="300px">
    </div>
    <div class="tarjeta">
        <img src="../../assets/us1.jpg" alt="Nosotros Imagen" width="300px" height="300px">
        <div class="texto-container">
            <p class="texto-titulo">COMPROMISO</p>
            <p>Somos una empresa comprometida con el medio ambiente, fomentando la economía circular al interior de las organizaciones, gestionando los residuos y mermas para disminuir al mínimo el impacto ambiental que estas generan.</p>
        </div>
    </div>
</div>