#big{
    @media (min-width:768px) {
        display: block;
    }
    @media (max-width:768px) {
        display: none;
    }
}
#small{
    @media (min-width:768px) {
        display: none;
    }
    @media (max-width:768px) {
        display: block;
    }
}