<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <carousel [height]="getheight()/2" class="sponosors" [cellsToShow]=2>
                <div class="carousel-cell" style="margin-left: 80px">
                    <img src="../../assets/LOGO-CHRYSALIS-MENU.png">
                </div>
                <div class="carousel-cell">
                    <img src="../../assets/LOGOTIPO-PUERTO-VENTANA.png">
                </div>
            </carousel>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2>Sugerencias de Hoy</h2>
        </div>
        <div class="col-12" id="big">
            <carousel [height]="getheight()" class="row carousel" [cellsToShow]=4>
                <div class="carousel-cell" *ngFor="let product of lista">
                    <div class="card" style="min-width: 100%">
                        <img class="card-img-top" src="../../assets/ladrillos.jfif" alt="Card image cap">
                        <div class="card-body">
                            <h4>$50.000 CLP</h4>
                            <h5 class="card-title">Venta de Ladrillos</h5>
                            <p>Quillota, Valparaiso, Chile</p>
                            <div class="d-flex">
                                <div>Tiempo restante</div>
                                <div class="ms-5">20:55</div>
                            </div>
                        </div>
                    </div>
                </div>
            </carousel>
        </div>
        <div class="col-12" id="small">
            <carousel [height]="getheight()" class="row carousel" [cellsToShow]=2>
                <div class="carousel-cell" *ngFor="let product of lista">
                    <div class="card" style="width:100%">
                        <img class="card-img-top" stlye="max-width: 25%"src="../../assets/ladrillos.jfif" alt="Card image cap">
                        <div class="card-body">
                            <h4>$50.000 CLP</h4>
                            <h5 class="card-title">Venta de Ladrillos</h5>
                            <p>Quillota, Valparaiso, Chile</p>
                            <div class="d-flex">
                                <div>Cierra en 13 Dias</div>
                                <div>Tiempo restante</div>
                                <div class="ms-5">20:55</div>
                            </div>
                        </div>
                    </div>
                </div>
            </carousel>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2>Ventas Destacadas</h2>
        </div>
        <div class="col-12">
            <div class="col-12" id="big">
                <carousel [height]="getheight()" class="row carousel" [cellsToShow]=4>
                    <div class="carousel-cell" *ngFor="let product of lista">
                        <div class="card" style="min-width: 100%">
                            <img class="card-img-top" src="{{product.url[0]}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{product.nombre}}</h5>
                                <h4>Valor Actual</h4>
                                <h4>{{product.precio}}</h4>

                            </div>
                        </div>
                    </div>
                </carousel>
            </div>
            <div class="col-12" id="small">
                <carousel [height]="getheight()" class="row carousel" [cellsToShow]=2>
                    <div class="carousel-cell" *ngFor="let product of lista">
                        <div class="card" style="width:100%">
                            <img class="card-img-top" stlye="max-width: 25%"src="../../assets/tubos.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p>Cierra en 13 Dias</p>
                                <h5 class="card-title">Venta de Tubos PVC</h5>
                                <h4>Valor Actual</h4>
                                <h4>$50.000 CLP</h4>
                            </div>
                        </div>
                    </div>
                </carousel>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
