.form-control{
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.179);
}
label{
    color: blue;
    font-size: x-large;
    font-weight: 600;
}
h4,h2{
    color: rgb(7, 7, 107);
    font-weight: 700;
}
a{
    color: gray;
    font-size: x-large;
}
button{
    background-color: rgba(6, 255, 6, 0.367);
    border-radius: 100px;
}