<div class="contenedor">
    <div class="titulo">
        <h2>¿Desea realizar una puja?</h2>
    </div>
    <form novalidate class="cuerpo" [formGroup]="montoControl">
        <label for="montoTxt" class="labelMonto">Escriba un monto </label>
        <div class="contenedor-monto">
            <input type="number" formControlName="monto" id="montoInput" [(ngModel)]="montoValor">
            <div class="error" *ngIf="montoControl.controls['monto'].errors && (montoControl.controls['monto'].dirty || montoControl.controls['monto'].touched)">
                <p *ngIf="montoControl.controls['monto'].hasError('required')">Campo requerido</p>
                <p *ngIf="montoControl.controls['monto'].hasError('pattern')">*Solo se admiten valores numéricos sin signo</p>
            </div>
        </div>
        <div class="botones">
            <button id="confirmarBtn" (click)="realizarPuja()" [disabled]="montoControl.invalid">Confirmar</button>
            <button id="cerrarBtn" (click)="cerrarModal()">Salir</button>
        </div>
    </form>
</div>